html {
	writing-mode: vertical-rl;
}

body {
	font-family: serif;
	line-height: 1.8;
	font-size: 1em;
	margin: 5%;
}

h1, h2 {
	font-size: 1.2em;
	margin: 1em 0 0.5em;
	text-align: center;
}

p {
	text-indent: 1em;
	margin: 0 0 1em 0;
}

p.next-link {
	text-align: left; /* ←縦書きでは「左」が下側 */
	font-size: 0.9em;
}

hr.page-break {
	border: none;
	width: 1px;
	height: 100%;
	margin: 0 1em;
	page-break-after: always;
	writing-mode: horizontal-tb;
}
